In [20]:
#import 
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.plotly as py
import plotly.graph_objs as go
print (__version__)
init_notebook_mode(connected=True)


#import files and make df
mls_2013 = pd.read_csv('MLS_Player_Salaries_2013.csv')
mls_2013 = pd.DataFrame(mls_2013)

mls_2014 = pd.read_csv('MLS_Player_Salaries_2014.csv')
mls_2014 = pd.DataFrame(mls_2014)

mls_2015 = pd.read_csv('MLS_Player_Salaries_2015.csv')
mls_2015 = pd.DataFrame(mls_2015)

mls_2016 = pd.read_csv('MLS_Player_Salaries_2016.csv')
mls_2016 = pd.DataFrame(mls_2016)

mls_2017 = pd.read_csv('MLS_Player_Salaries_2017.csv')
mls_2017 = pd.DataFrame(mls_2017)


# fix base salary to a float point
fix_base_2013 = mls_2013['Base Salary'].str.replace('$',"")
fix_base_2013 = fix_base_2013.str.replace(',','')
fix_base_2013 = fix_base_2013.astype(float)

fix_base_2014 = mls_2014['Base Salary'].str.replace('$',"")
fix_base_2014 = fix_base_2014.str.replace(',','')
fix_base_2014 = fix_base_2014.astype(float)

fix_base_2015 = mls_2015['Base Salary'].str.replace('$',"")
fix_base_2015 = fix_base_2015.str.replace(',','')
fix_base_2015 = fix_base_2015.astype(float)

fix_base_2016 = mls_2016['Base Salary'].str.replace('$',"")
fix_base_2016 = fix_base_2016.str.replace(',','')
fix_base_2016 = fix_base_2016.astype(float)

fix_base_2017 = mls_2017['Base Salary'].str.replace('$',"")
fix_base_2017 = fix_base_2017.str.replace(',','')
fix_base_2017 = fix_base_2017.astype(float)

# fix guaranteed compensation to a float point
fix_comp_2013 = mls_2013['Guaranteed Compensation'].str.replace('$',"")
fix_comp_2013 = fix_comp_2013.str.replace(',','')
fix_comp_2013 = fix_comp_2013.astype(float)

fix_comp_2014 = mls_2014['Guaranteed Compensation'].str.replace('$',"")
fix_comp_2014 = fix_comp_2014.str.replace(',','')
fix_comp_2014 = fix_comp_2014.astype(float)

fix_comp_2015 = mls_2015['Guaranteed Compensation'].str.replace('$',"")
fix_comp_2015 = fix_comp_2015.str.replace(',','')
fix_comp_2015 = fix_comp_2015.astype(float)

fix_comp_2016 = mls_2016['Guaranteed Compensation'].str.replace('$',"")
fix_comp_2016 = fix_comp_2016.str.replace(',','')
fix_comp_2016 = fix_comp_2016.astype(float)

fix_comp_2017 = mls_2017['Guaranteed Compensation'].str.replace('$',"")
fix_comp_2017 = fix_comp_2017.str.replace(',','')
fix_comp_2017 = fix_comp_2017.astype(float)

# Change Season to Year
season_13 = mls_2013['Season'].astype(str)
season_13 = pd.to_datetime(season_13)
season_13 = season_13.dt.year

season_14 = mls_2014['Season'].astype(str)
season_14 = pd.to_datetime(season_14)
season_14 = season_14.dt.year

season_15 = mls_2015['Season'].astype(str)
season_15 = pd.to_datetime(season_15)
season_15 = season_15.dt.year

season_16 = mls_2016['Season'].astype(str)
season_16 = pd.to_datetime(season_16)
season_16 = season_16.dt.year

season_17 = mls_2017['Season'].astype(str)
season_17 = pd.to_datetime(season_17)
season_17 = season_17.dt.year

2.0.0

0      2015
1      2015
2      2015
3      2015
4      2015
5      2015
6      2015
7      2015
8      2015
9      2015
10     2015
11     2015
12     2015
13     2015
14     2015
15     2015
16     2015
17     2015
18     2015
19     2015
20     2015
21     2015
22     2015
23     2015
24     2015
25     2015
26     2015
27     2015
28     2015
29     2015
       ...
544    2015
545    2015
546    2015
547    2015
548    2015
549    2015
550    2015
551    2015
552    2015
553    2015
554    2015
555    2015
556    2015
557    2015
558    2015
559    2015
560    2015
561    2015
562    2015
563    2015
564    2015
565    2015
566    2015
567    2015
568    2015
569    2015
570    2015
571    2015
572    2015
573    2015
Name: Season, dtype: int64

In [22]:
# make clean tables
mls_2013['Base Salary'] = fix_base_2013
mls_2013['Guaranteed Compensation'] = fix_comp_2013
mls_2013['Season'] = season_13

mls_2014['Base Salary'] = fix_base_2014
mls_2014['Guaranteed Compensation'] = fix_comp_2014
mls_2014['Season'] = season_14

mls_2015['Base Salary'] = fix_base_2015
mls_2015['Guaranteed Compensation'] = fix_comp_2015
mls_2015['Season'] = season_15

mls_2016['Base Salary'] = fix_base_2016
mls_2016['Guaranteed Compensation'] = fix_comp_2016
mls_2016['Season'] = season_16

mls_2017['Base Salary'] = fix_base_2017
mls_2017['Guaranteed Compensation'] = fix_comp_2017
mls_2017['Season'] = season_17

# make time series table
frames = [mls_2017, mls_2016, mls_2015, mls_2014, mls_2013]
mls_salary = pd.concat(frames)
mls_salary

,Club,Last Name,First Name,Pos,Base Salary,Guaranteed Compensation,Season
0,NYRB,Abang,Anatole,F,65625.00,65625.00,2017
1,KC,Abdul-Salaam,Saad,D,96800.00,110550.00,2017
2,CLB,Abu,Mohammed,M,165000.00,171250.00,2017
3,CLB,Abubakar,Alhassan Lalas,D,65000.04,72500.04,2017
4,CHI,Accam,David,F-M,750000.00,820937.50,2017
5,RSL,Acosta,Danilo,M,65625.00,65625.00,2017
6,DAL,Acosta,Kellyn,M,260000.00,280000.00,2017
7,DC,Acosta,Luciano,M-F,500000.00,602000.00,2017
8,NYRB,Adams,Tyler,M,75000.00,91041.67,2017
9,SEA,Adekoya,Seyi,F,53004.00,53004.00,2017
10,VAN,Adekugbe,Samuel,D,80000.00,85000.00,2017
11,POR,Adi,Fanendo,F,1190004.00,1736254.00,2017
12,COL,Adjei-Boateng,Bismark,M,300000.00,341246.00,2017
13,CLB,Afful,Harrison,D,280000.00,296666.67,2017
14,NE,Agudelo,Juan,F,475000.00,502500.00,2017
15,ORL,Aja,Jose,D,216000.00,216000.00,2017
16,DAL,Akindele,Tesho,F-M,95000.00,112500.00,2017
17,SJ,Alashe,Fatai,M,98175.00,114425.00,2017
18,PHI,Alberg,Roland,M,345000.00,394250.00,2017
19,LA,Alessandrini,Romain,M,1669400.64,1999400.64,2017
20,HOU,Alexander,Eric,M,190000.00,203750.00,2017
21,SEA,Alfaro,Tony,D,54075.00,54075.00,2017
22,NYRB,Allen,Brandon,F,65625.00,65625.00,2017
23,RSL,Allen,Jordan,M,178000.00,178000.00,2017
24,NYCFC,Allen,RJ,D,100000.08,101666.75,2017
25,ATL,Almiron,Miguel,M,1912500.00,2297000.00,2017
26,SEA,Alonso,Osvaldo,M,1100000.00,1141667.00,2017
27,TOR,Alseth,Oyvind,M-D,53004.00,53004.00,2017
28,ORL,Alston,Kevin,D,135000.00,135000.00,2017
29,TOR,Altidore,Jozy,F,4875000.00,4875000.00,2017
...,...,...,...,...,...,...,...
546,RSL,Beckerman,Kyle,M,300000.00,328750.00,2013
547,NYRB,Pearce,Heath,D,331236.00,340736.00,2013
548,SJ,Goodson,Clarence,D,315000.00,342000.00,2013
549,DAL,Cooper,Kenny,F,325000.00,342500.00,2013
550,CHI,Soumare,Bakary,D,310000.00,350000.00,2013
551,DC,Pontius,Chris,M-F,330000.00,361000.00,2013
552,CLB,Marshall,Chad,D,330000.00,361250.00,2013
553,CHI,Fernandez,Alvaro,M,300000.00,366666.67,2013
554,HOU,Davis,Brad,M,325000.00,372062.50,2013
555,VAN,DeMerit,Jay,D,325000.00,375000.00,2013
556,KC,Zusi,Graham,F-M,350000.00,383250.00,2013
557,DAL,Diaz,Mauro,M,312000.00,398000.00,2013
558,POR,Valeri,Diego,M,400000.00,400000.00,2013
559,RSL,Saborio,Alvaro,F,360000.00,453333.33,2013
560,PHI,Kleberson,Jose,M,495000.00,495000.00,2013
561,SJ,Wondolowski,Chris,M,550000.00,600000.00,2013
562,CLB,Higuain,Federico,M-F,440000.00,604000.00,2013
563,DC,DeRosario,Dwayne,M,600000.00,645333.33,2013
564,DAL,Ferreira,David,M-F,625000.00,730000.00,2013
565,CHI,Rios,Egidio,M,768000.00,768000.00,2013
566,SEA,Montero,Fredy,F,700000.00,856000.00,2013
567,VAN,Miller,Kenny,F,1114992.00,1124992.00,2013
568,TOR,Koevermans,Danny,F,1250000.00,1663323.33,2013
569,SEA,Martins,Obafemi,F,1600000.00,1725000.00,2013
570,MTL,Di Vaio,Marco,F,1000008.00,1937508.00,2013
571,LA,Donovan,Landon,F,2500000.00,2500000.00,2013
572,NYRB,Cahill,Tim,M,3500000.00,3625000.00,2013
573,LA,Keane,Robbie,F,4000000.00,4333333.33,2013
574,NYRB,Henry,Thierry,F,3750000.00,4350000.00,2013
575,SEA,Dempsey,Clint,F,4913004.00,5038566.50,2013

#####

In [36]:
# make plot tables

comp = mls_salary[['Guaranteed Compensation','Season']].groupby(['Season']).median().reset_index()
comp = comp.sort_values(by='Guaranteed Compensation', ascending=True)
comp

   Season  Guaranteed Compensation
0    2013                87333.335
1    2014                92000.000
2    2015               112000.000
3    2016               116300.000
4    2017               135002.000

In [37]:
#plotly chart

data = [go.Scatter(
        x=comp['Season'],
        y=comp['Guaranteed Compensation'])]
py.iplot(data)